In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
povertyData = pd.read_excel("drive/MyDrive/Current/DS/IncomeVsPoverty/Datasets/PovertyData.xlsx")
internetData = pd.read_excel("drive/MyDrive/Current/DS/IncomeVsPoverty/Datasets/InternetData.xlsx")
internetData = internetData[internetData["Year"] == 2019]
print(len(povertyData))
print(len(internetData))

3195
3233

In [3]:
povertyData.head()

,FIPS_code,Stabr,Area_name,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2020,CI90LBALL_2020,CI90UBALL_2020,...,CI90UB517P_2020,MEDHHINC_2020,CI90LBINC_2020,CI90UBINC_2020,POV04_2020,CI90LB04_2020,CI90UB04_2020,PCTPOV04_2020,CI90LB04P_2020,CI90UB04P_2020
0,0,US,United States,NaN,NaN,NaN,NaN,38371394.0,38309115.0,38433673.0,...,14.9,67340.0,67251.0,67429.0,3146325.0,3133736.0,3158914.0,16.8,16.7,16.9
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,714568.0,695249.0,733887.0,...,20.7,53958.0,53013.0,54903.0,66169.0,61541.0,70797.0,23.3,21.7,24.9
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,6242.0,4930.0,7554.0,...,19.3,67565.0,59132.0,75998.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,20189.0,15535.0,24843.0,...,16.1,71135.0,66540.0,75730.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,5548.0,4210.0,6886.0,...,47.2,38866.0,33510.0,44222.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
internetData.head()

,Year,Month,FIPS,State,County,State_Name,County_Name,Housing_Units,Tier_1,Tier_2,Tier_3,Tier_4
0,2019,6,1001,1,1,Alabama,Autauga County,23900,4,3,3,3
1,2019,6,1003,1,3,Alabama,Baldwin County,119392,4,3,2,1
2,2019,6,1005,1,5,Alabama,Barbour County,12082,3,2,2,1
3,2019,6,1007,1,7,Alabama,Bibb County,9289,2,2,1,1
4,2019,6,1009,1,9,Alabama,Blount County,24519,3,2,1,1

In [5]:
def tier(num):
  if num == 0:
    return 0.0
  elif num == 1:
    return 0.2
  elif num == 2:
    return 0.4
  elif num == 3:
    return 0.6
  elif num == 4:
    return 0.8
  else:
    return 1

In [6]:
povertyData.columns

Index(['FIPS_code', 'Stabr', 'Area_name', 'Rural-urban_Continuum_Code_2003',
       'Urban_Influence_Code_2003', 'Rural-urban_Continuum_Code_2013',
       'Urban_Influence_Code_2013', 'POVALL_2020', 'CI90LBALL_2020',
       'CI90UBALL_2020', 'PCTPOVALL_2020', 'CI90LBALLP_2020',
       'CI90UBALLP_2020', 'POV017_2020', 'CI90LB017_2020', 'CI90UB017_2020',
       'PCTPOV017_2020', 'CI90LB017P_2020', 'CI90UB017P_2020', 'POV517_2020',
       'CI90LB517_2020', 'CI90UB517_2020', 'PCTPOV517_2020', 'CI90LB517P_2020',
       'CI90UB517P_2020', 'MEDHHINC_2020', 'CI90LBINC_2020', 'CI90UBINC_2020',
       'POV04_2020', 'CI90LB04_2020', 'CI90UB04_2020', 'PCTPOV04_2020',
       'CI90LB04P_2020', 'CI90UB04P_2020'],
      dtype='object')

In [7]:
internetData.columns

Index(['Year', 'Month', 'FIPS', 'State', 'County', 'State_Name', 'County_Name',
       'Housing_Units', 'Tier_1', 'Tier_2', 'Tier_3', 'Tier_4'],
      dtype='object')

In [8]:
povertyData = povertyData[["FIPS_code", "PCTPOVALL_2020"]]
povertyData.columns = ["FIPS","PCT_POV"]
povertyData.head()

   FIPS  PCT_POV
0     0     11.9
1  1000     14.9
2  1001     11.2
3  1003      8.9
4  1005     25.5

In [9]:
internetData["Tier_3"] = internetData["Tier_3"] - internetData["Tier_4"]
internetData["Tier_2"] = internetData["Tier_2"] - (internetData["Tier_3"] + internetData["Tier_4"])
internetData["Tier_1"] = internetData["Tier_1"] - (internetData["Tier_2"] + internetData["Tier_3"] + internetData["Tier_4"])

In [10]:
internetData["SumOfTiers"] = 1. / (internetData["Tier_1"] + internetData["Tier_2"] + internetData["Tier_3"] + internetData["Tier_4"])
internetData["PCT_200Kbps"] = ((internetData["SumOfTiers"] * internetData["Tier_1"] * internetData["Housing_Units"]) / internetData["Housing_Units"]).round(2)
internetData["PCT_10Mbps"] = ((internetData["SumOfTiers"] * internetData["Tier_2"] * internetData["Housing_Units"]) / internetData["Housing_Units"]).round(2)
internetData["PCT_25Mbps"] = ((internetData["SumOfTiers"] * internetData["Tier_3"] * internetData["Housing_Units"]) / internetData["Housing_Units"]).round(2)
internetData["PCT_100Mbps"] = ((internetData["SumOfTiers"] * internetData["Tier_4"] * internetData["Housing_Units"]) / internetData["Housing_Units"]).round(2)
internetData["Number_200Kbps"] = internetData["Housing_Units"] * internetData["PCT_200Kbps"]
internetData["Number_10Mbps"] = internetData["Housing_Units"] * internetData["PCT_10Mbps"]
internetData["Number_25Mbps"] = internetData["Housing_Units"] * internetData["PCT_25Mbps"]
internetData["Number_100Mbps"] = internetData["Housing_Units"] * internetData["PCT_100Mbps"]

In [11]:
internetData = internetData[["FIPS", "State_Name", "County_Name", "Housing_Units", "PCT_200Kbps", "PCT_10Mbps", "PCT_25Mbps", "PCT_100Mbps", "Number_200Kbps", "Number_10Mbps", "Number_25Mbps", "Number_100Mbps"]]
internetData

,FIPS,State_Name,County_Name,Housing_Units,PCT_200Kbps,PCT_10Mbps,PCT_25Mbps,PCT_100Mbps,Number_200Kbps,Number_10Mbps,Number_25Mbps,Number_100Mbps
0,1001,Alabama,Autauga County,23900,0.25,0.00,0.00,0.75,5975.00,0.00,0.00,17925.00
1,1003,Alabama,Baldwin County,119392,0.25,0.25,0.25,0.25,29848.00,29848.00,29848.00,29848.00
2,1005,Alabama,Barbour County,12082,0.33,0.00,0.33,0.33,3987.06,0.00,3987.06,3987.06
3,1007,Alabama,Bibb County,9289,0.00,0.50,0.00,0.50,0.00,4644.50,0.00,4644.50
4,1009,Alabama,Blount County,24519,0.33,0.33,0.00,0.33,8091.27,8091.27,0.00,8091.27
...,...,...,...,...,...,...,...,...,...,...,...,...
3228,56037,Wyoming,Sweetwater County,19908,0.25,0.00,0.50,0.25,4977.00,0.00,9954.00,4977.00
3229,56039,Wyoming,Teton County,14190,0.00,0.25,0.00,0.75,0.00,3547.50,0.00,10642.50
3230,56041,Wyoming,Uinta County,9106,0.25,0.25,0.25,0.25,2276.50,2276.50,2276.50,2276.50
3231,56043,Wyoming,Washakie County,3866,0.25,0.00,0.25,0.50,966.50,0.00,966.50,1933.00
3232,56045,Wyoming,Weston County,3570,0.33,0.00,0.33,0.33,1178.10,0.00,1178.10,1178.10

In [12]:
avgPeoplePerHousehold = 2.6 #Avg number of people per household in United States
df = pd.merge(internetData, povertyData, on="FIPS", how="left")
print(len(df))
df["Number_200Kbps"] = df["Number_200Kbps"] * avgPeoplePerHousehold
df["Number_10Mbps"] = df["Number_10Mbps"] * avgPeoplePerHousehold
df["Number_25Mbps"] = df["Number_25Mbps"] * avgPeoplePerHousehold
df["Number_100Mbps"] = df["Number_100Mbps"] * avgPeoplePerHousehold
df["Number_POV"] = (df["PCT_POV"] / 100.) * (df["Housing_Units"] / 2.6)
df

3233

,FIPS,State_Name,County_Name,Housing_Units,PCT_200Kbps,PCT_10Mbps,PCT_25Mbps,PCT_100Mbps,Number_200Kbps,Number_10Mbps,Number_25Mbps,Number_100Mbps,PCT_POV,Number_POV
0,1001,Alabama,Autauga County,23900,0.25,0.00,0.00,0.75,15535.000,0.000,0.000,46605.000,11.2,1029.538462
1,1003,Alabama,Baldwin County,119392,0.25,0.25,0.25,0.25,77604.800,77604.800,77604.800,77604.800,8.9,4086.880000
2,1005,Alabama,Barbour County,12082,0.33,0.00,0.33,0.33,10366.356,0.000,10366.356,10366.356,25.5,1184.965385
3,1007,Alabama,Bibb County,9289,0.00,0.50,0.00,0.50,0.000,12075.700,0.000,12075.700,17.8,635.939231
4,1009,Alabama,Blount County,24519,0.33,0.33,0.00,0.33,21037.302,21037.302,0.000,21037.302,13.1,1235.380385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3228,56037,Wyoming,Sweetwater County,19908,0.25,0.00,0.50,0.25,12940.200,0.000,25880.400,12940.200,7.6,581.926154
3229,56039,Wyoming,Teton County,14190,0.00,0.25,0.00,0.75,0.000,9223.500,0.000,27670.500,5.2,283.800000
3230,56041,Wyoming,Uinta County,9106,0.25,0.25,0.25,0.25,5918.900,5918.900,5918.900,5918.900,8.5,297.696154
3231,56043,Wyoming,Washakie County,3866,0.25,0.00,0.25,0.50,2512.900,0.000,2512.900,5025.800,9.7,144.231538
3232,56045,Wyoming,Weston County,3570,0.33,0.00,0.33,0.33,3063.060,0.000,3063.060,3063.060,10.6,145.546154

In [13]:
df.to_csv("drive/MyDrive/Current/DS/IncomeVsPoverty/CombinedData.csv")